<script>
  function myfun(){
    var p1 = document.getElementById("password").value;
    var p2 = document.getElementById("password2").value;
  
   if(a.length < 7 ){
      document.getElementById("message").innerHTML =" ** Password Must be Greater then 8 - 16 Charcaters" 
      return false
    }
    else if(a.length < 20 ){
      document.getElementById("message").innerHTML =" ** Password Must be Greater then 8 - 16 Charcaters"
      return false
    }
  
    else if(p1!= p2){
      document.getElementById("message").innerHTML =" ** Password not Match  "
      return false
    }
    else{
      return true
    }

  }
  </script>
<section class="login">

  <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
      <div>
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
          Forgot Password
        </h2>
      </div>

      <form class="mt-8 space-y-6" action="" method="POST" onsubmit="return myfun()">

        <% if(messages.error) { %>
          <span class="text-red-600 mt-1 text-center font-medium">
            <%= messages.error%> <%= messages.mismatch%>
          </span>
          <% } %>

            <input type="hidden" name="remember" value="true">
            <div class="rounded-md shadow-sm -space-y-px">

              <div>
                <label for="email-address" class="sr-onl">Email: &nbsp; <%= email %></label>
              </div>
              <div>
                <div class="mt-4">
                  <label for="password" class="sr-onl"> New Password</label>
                  <input id="password" name="password" type="password"  required
                    class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:z-10 sm:text-sm"
                    placeholder="Password">
                </div>
              </div>

              <div>
                <div class="mt-4">
                  <label for="password2" class="sr-onl">Confirm New Password</label>
                  <input id="password2" name="password2" type="text"  required
                    class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:z-10 sm:text-sm"
                    placeholder="Password">
                </div>
              </div> 
            </div>
            

            <div>
              <button type="submit" value="reset password"
                class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white btn-primary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                  <!-- Heroicon name: solid/lock-closed -->
                  <svg class="h-5 w-5 text-white-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                      d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                      clip-rule="evenodd" />
                  </svg>
                </span>
                Reset Password
              </button>
            </div>
      </form>
      <p class="text-center text-gray-500 text-xs">
        &copy;2022 Gearloose Labs. All rights reserved.
      </p>
    </div>
  </div>

</section>
