<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/img/trademarksirfachichai2.png" rel="icon">
  <link href="assets/img/trademarksirfachichai2.png" rel="apple-touch-icon">
    <link href="assets/css/style.css" rel="stylesheet">
    <link
        href="https://assets.website-files.com/5f3a64853eba5d020f364879/css/flux-academy-v2-2020.webflow.091f66e29.min.css"
        rel="stylesheet" type="text/css" />
       
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">



    <title>Cuteaing - Meri Wali Chai</title>
</head>

<body>
  <style>
    .bg{
        background-color: #5e1efe;
    }
    .bgp{
        background-color: #FE5F1E;
    
    }
    .hero-h1{
        margin: 20px 0px 0px 0px;
        padding-top: 12vh;
        /* padding-top: 12vh; */
    }
     .white-heading {
        color: #fff;
        font-size: 90px;
        align-items: flex-start;
        text-align: center;
        line-height: 75px;
        font-weight: 900;
        letter-spacing: 0.5px;
    }
    .desc{
        font-family: 'Sofia Pro', sans-serif;
        color: #fff ;
    }
    @keyframes float {
      0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
      }
      50% {
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-20px);
      }
      100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
      }
    }
    .avatar {
        align-items: center;
      width: 30px;
      height: 30px;
      box-sizing: border-box;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 5px 12px 0px rgba(0,0,0,0.4);
      transform: translatey(0px);
      animation: float 4s ease-in-out infinite;
      
    }
        </style>

    <section class="hero ">
      <div class="container-fluid bgp " style="height: 90vh; align-items: center;">
      
        <div class="mycontain center-text homehero">
          
            <div class="home-hero-content">
                <h1 class="hero-h1 white-heading title"><span> India's Most<br />affordable deals<br /> on Lab needs</h1></span>
                <p class="p-hero desc">Lorem Ipsum is simply dummy text of he industry's stmmy text ever since the 1500s, when an unknown printer  and scrambled it to make a type specimen book.</p>
                <!-- <div class="avatar" style="background-color: #5e1efe;" >
                    <a >
                        <img src="/img/icons8-expand-arrow-96.png" alt="Skytsunami" />
                    </a>
                </div> -->
            </div>
            <a href="/login" class="cta-button light-button w-button">Explore More</a>
        </div></div>
  </section>






    <!-- <div class="imgGallery">
        <h1 class="heading">Gallery</h1>
        <div class="cont p-3">
  
          <div class="fg-gallery ns">
            <img src="/img/1.jpg" alt="" />
            <img src="/img/2.jpg" alt="" />
            <img src="/img/3.jpg" alt="" />
            <img src="/img/4.jpg" alt="" />
            <img src="/img/5.jpg" alt="" />
            <img src="/img/6.jpg" alt="" />
            <img src="/img/7.jpg" alt="" />
            <img src="/img/8.jpg" alt="" />
          </div>
        </div>
      </div> -->
      
      <!-- <div class="container-fluid bg " style="height: 85vh; align-items: center ; background-color: #5e1efe;">
       
        <div class="mycontain center-text homehero" style="position: absolute;">
            <div class="home-hero-content">
                <h1 class="hero-h1 white-heading title"><span>Login<br /> to Place <br/> oders</h1></span>
                <p class="p-hero desc">Multiple Vendor Dealership | Incredible Prices on Equipment | Extensive Consumer Support</p>
                <!-- <div class="avatar" >
                    <a >
                        <img src="/img/icons8-expand-arrow-96.png" alt="Skytsunami" />
                    </a>
                </div> -->
            <!-- </div>
            <a href="/our-courses" class="cta-button light-button w-button">Login / Sign up</a>
        </div></div>  -->
        <div class="container-fluid bg " style="height: 85vh; align-items: center;">
      
          <div class="mycontain center-text homehero">
            
              <div class="home-hero-content">
                  <h1 class="hero-h1 white-heading title"><span>Login<br /> to Place <br/> oders</h1></span>
                  <p class="p-hero desc">Multiple Vendor Dealership | Incredible Prices on Equipment | Extensive Consumer Support</p>
                  <!-- <div class="avatar" >
                      <a >
                          <img src="/img/icons8-expand-arrow-96.png" alt="Skytsunami" />
                      </a>
                  </div> -->
              </div>
              <a href="/login" class="cta-button light-button w-button">Login / Sign up</a>
          </div></div>
      
    <script src="/js/gallery.js"></script>

      
</body>
</html>



